
assets/videos/background.mp4
assets/webfonts/fa-solid-900.svg
assets/webfonts/fa-brands-400.svg
images/thumbs/photography.jpg
images/thumbs/CV.jpg
images/thumbs/publications.jpg
images/watershed.jpg
assets/webfonts/fa-solid-900.ttf
assets/webfonts/fa-solid-900.eot
assets/webfonts/fa-regular-400.svg
images/film/6.jpg
assets/webfonts/fa-solid-900.svg
assets/webfonts/fa-brands-400.svg
images/thumbs/photography.jpg
images/thumbs/CV.jpg
images/thumbs/publications.jpg
images/watershed.jpg
assets/webfonts/fa-solid-900.ttf
assets/webfonts/fa-solid-900.eot
assets/webfonts/fa-regular-400.svg
